<div class="goal__card__step__new goal__card__step">
	<div class="goal__card__step__header">
		<input type="text" placeholder="step name" class="step_name" data-goalid=<%= goal.id %>>
		<a class="step_added goal__card__step__link"></a>
		<span class="js-post-add-step__from-goal">dodaj</span>
		<span class="close-add-step__from-goal">X</span>
		<div class="progress_bar" style="display: none;">
			<div class="progress_bar_done" id=""></div>
		</div>
	</div>
	<div class="goal__card__step__to-dos">
			<div class="goal__card__step__to-do">You don't have any todos specified for this step</div>
	</div>
</div>

