<div class="page-wrapper">
	<div class="goal__heading">
		<h1><%= @goal.name %></h1>
		<div class="js-add_step btn btn-success"  data-goal-id="<%= @goal.id %>">Add step</div>
	</div>
	<div class="goal__content steps">
		
		<div class="goal__content__steps">
			<% if @goal.steps.blank? %>
				<div class="goal__content__step">You don't have any steps planed for this goal</div>
			<% else %>
				<% @goal.steps.each do |step| %>
					<%= render :partial => "goal_step", :locals => step %>
				<%end%>
			<% end %>
		</div>
	</div>
</div>

