<div class="page-wrapper">
	<div class="goal__heading">
		<h1>List of your goals</h1>
		<input type="text" class="js-goal_search__input" placeholder="search goals"><div class="js-search search glyphicon glyphicon-search"></div>
		<div class="js-add_goal goal__content_add btn btn-success">Add new goal +</div>
	</div>
	<%= render :partial => "content" %>
</div>