// Place all the styles related to the goal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-wrapper {
	width: 100%;
	background: #f2f2f2;
	

	border-radius: 10px;
	border: 1px solid #fbfef2;
}

.add__goal__modal {
	text-align: center;

	.add__goal__modal__header {
		text-align: left;
		height: 60px;
		padding: 15px 20px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		font-size: 24px;
		font-weight: 600;

	}

	.add__goal__modal__body {
		padding: 20px;
		text-align: left;

		.add__goal__modal__body__goal {
			margin-bottom: 20px;

			input {
				display: block;
				width: 100%;
				height: 30px;
			}
		}

		.add__goal__modal__body__description {
			margin-bottom: 20px;

			input {
				display: block;
				width: 100%;
				height: 120px;
			}
		}

		p {
			font-size: 16px;
			margin-bottom: 5px;
		}

		.submit {
			width: 40%;
			margin: 10px 30%; 
		}
	}

	
}

.goal__heading {
	padding: 20px;
	border-bottom: 1px solid #fbfef2;
	height: 70px;
	
	h1 {
		margin: 0;
		font-size: 30px;
		float: left;
	}

	.goal__content_add {
		display: block;
		cursor: pointer;
		color: black;
		float: right;
		color: white;
	}

	input {
		margin: 6px 20px 0 40px;
		width: 250px;
	}

	input[type=text] {
	    -webkit-transition: width 0.4s ease-in-out;
	    transition: width 0.4s ease-in-out;
	}

	input[type=text]:focus {
	    width: 250px;
	}

	.search {
		width: 20px;
		height: 20px;
		cursor: pointer;
	}
}

.goal__content {
	padding: 20px;

	.goal__content__steps {

		.goal__content__step {
			padding: 15px;
			border: 1px solid rgba(0,0,0,0.1);
			border-radius: 4px;
			margin: 10px 0;
			min-height: 50px;

			.goal__content__step__header {
				float: left;
				width: 100%;

				a {
					float: left;
				}

				.progress_bar {
					float: left;
					position: relative;
					width: 200px;
					margin: 7px 0px 0 20px;
					background: #fff;
					border: 1px solid rgba(0,0,0,0.3);
					border-radius: 12px;
					height: 8px;
					overflow: hidden;

					.progress_bar_done {
						position: absolute;
						top: 0;
						left: -100%;
						width: 100%;
						height: 100%;
						background: #15D448;
						border-radius: 12px;
					}
				}

				
			}

			.goal__content__step__todos {
				padding-left: 10px;

				.goal__content__step__todo {
					
				}

			}

		}

	}
}

.goal__card {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #fbfef2;

	.goal__card__header {
		margin-bottom: 30px;

		.goal__card__link {
			font-size: 24px;
			
		}

		.goal__card__header__description {
			width: 70%;
			padding-left: 10px;
			margin-top: 10px;
		}

	}

	

	.goal__card__delete {
		float: right;
		padding: 6px 26px 6px 27px;
		margin: 0px;
	}

	.goal__card__steps {
		padding: 10px 20px;

		.goal__card__step {
			display: block;
			padding: 10px;
			// border: 1px solid rgba(0,0,0,0.3);
			border-radius: 4px;
			margin: 10px 0 15px;
			width: 100%;

			.goal__card__step__header {
				width: 100%;
				height: 30px;

				.goal__card__step__link__delete {
					margin-right: 10px;
					text-decoration: none;
					color: rgba(0,0,0,0.7);
					float: left;
					width: 25px;
					height: 25px;

					&.glyphicon {
						top: -2px !important;
						font-size: 16px;
						cursor: pointer;
						line-height: 21px;
						border-radius: 10px;
						padding-left: 4px;
						padding-top: 2px;

						&:hover {
							background: rgba(0, 0, 0, 0.08);
						}
					}
				}

				.goal__card__step__link {
					float: left;
					cursor: pointer;

					&.goal__card__step__link__note {
						margin-left: 15px;
						text-decoration: none;

						span {
							margin-right: 5px;
							&:hover {
								text-decoration: underline;
							}
						}

						.glyphicon {
							top: 2px !important;
							

						}
					}
				}

				.progress_bar {
					float: left;
					position: relative;
					width: 200px;
					margin: 7px 0px 0 20px;
					background: #fff;
					border: 1px solid rgba(0,0,0,0.3);
					border-radius: 12px;
					height: 8px;
					overflow: hidden;

					.progress_bar_done {
						position: absolute;
						top: 0;
						left: -100%;
						width: 100%;
						height: 100%;
						background: #15D448;
						border-radius: 12px;
					}
				}

			}

			

			&.goal__card__step__new {
				// display: none;
				position: relative;

				.add__button {
					cursor: pointer;
				}

				.close-add-step__from-goal {
					position: absolute;
					top: 15px;
					right: 15px;
					width: 20px;
					height: 20px;
					cursor: pointer;
				}

				.step_added {
					display: none;
				}
			}

			.goal__card__step__to-dos {
				padding-left: 15px;
				margin-top: 8px;
				
				.goal__card__step__to-do {
					display: block;

					.remove-todo__from-goal {
						width: 16px;
						height: 16px;
						display: inline-block;
						cursor: pointer;
					}
				}



				.goal__content__step__todos__add-todo {
					margin-top: 10px;

					.goal__content__step__todos__add-todo__input {
						display: none;
					}

					.add-todo__from-goal {
						padding: 1px 4px;
					}
				}
			}


		}
	}
}

#progress {
	float: left !important;
	margin: 0 20px !important;
	width: 400px !important;
	height: 8px !important;
}