.navbar {
	height: 60px;
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
	background-color: #f8f8f8;

	.navbar__header {
		float: left;
		height: 20px;
		margin: 20px; 
	}

	.navbar__list__item {
		position: relative;

		.navbar__list__item__name {
			position: absolute;
			top: 16px;
			right: 90px;
			font-size: 18px;
		}
		
		img {
			position: absolute;
			border-radius: 100%;
			width: 50px;
			height: 50px;
			top: 4px;
			right: 20px;
		}
	}

}

.navlist {
	position: absolute;
	top: 60px;
	left: 0;
	width: 10%;
	height: 100%;
	border: 1px solid #e7e7e7;
	border-left: 0;
	border-top: 0;
	background-color: #f8f8f8;
	padding: 0 5px;

	@media only screen and (max-width: 640px) {
		width: 20%;
	}

	.navlist_item {
		display: block;
		text-decoration: none;
		color: #337ab7;
		cursor: pointer;
		padding: 10px 5px;
		border-bottom: 1px solid #e7e7e7;
	}
}

.content {
	position: absolute;
	top: 60px;
	width: 90%;
	left: 10%;
	height: 100%;
	padding: 20px;

	@media only screen and (max-width: 640px) {
		width: 80%;
		left: 20%;
	}
}













